.button {
  font: inherit;
  border: 1px solid #0b4475;
  border-radius: 10px;
  background: #0b4475;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  margin: 0.3rem 0.2rem;
}

.button:hover,
.button:active {
  background: #0a76d4;
  border-color: #0a76d4;
}

.button:focus {
  outline: none;
}
